<%= form_for(booking) do |f| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :no_of_people %>
    <%= f.select :no_of_people, (1..150), { :include_blank => true } %>
  </div>

  <div class="field">
    <%= f.label :resource %>
    <%= f.text_field :resource %>
  </div>

  <div class="field">
    <%= f.label :start_time %>
    <%= f.datetime_select :start_time %>
  </div>

  <div class="field">
    <%= f.label :end_time %>
    <%= f.datetime_select :end_time %>
  </div>

  <div class="field">
    <%= f.label :area_id %>
    <%= f.collection_select :id, @areas, :id, :name, { :include_blank => true } %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
