<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @booking.start_time.strftime("%d-%m-%y" + " ---- " + "%l:%m")  %>
</p>

<p>
  <strong>End time:</strong>
  <%= @booking.end_time.strftime("%d-%m-%y" + " ---- " + "%l:%m")  %>
</p>

<p>
  <strong>No of people:</strong>
  <%= @booking.no_of_people %>
</p>

<p>
  <strong>Resource:</strong>
  <%= @booking.resource %>
</p>

<p>
  <strong>Status:</strong>
  <%= @booking.status %>
</p>

<p>
  <strong>Area:</strong>
  <%= @booking.area.name %>
</p>

<p>
  <strong>Booking detail:</strong>
  <%= @booking.booking_details_id %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
