<%= form_for(booking_detail) do |f| %>
  <% if booking_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking_detail.errors.count, "error") %> prohibited this booking_detail from being saved:</h2>

      <ul>
      <% booking_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :company %>
    <%= f.text_field :company %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :membership %>
    <%= f.text_field :membership %>
  </div>

  <div class="field">
    <%= f.label :other_notes %>
    <%= f.text_area :other_notes %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
