<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @booking_detail.name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @booking_detail.company %>
</p>

<p>
  <strong>Email:</strong>
  <%= @booking_detail.email %>
</p>

<p>
  <strong>Membership:</strong>
  <%= @booking_detail.membership %>
</p>

<p>
  <strong>Other notes:</strong>
  <%= @booking_detail.other_notes %>
</p>

<p>
  <strong>Booking:</strong>
  <%= @booking_detail.booking %>
</p>

<%= link_to 'Edit', edit_booking_detail_path(@booking_detail) %> |
<%= link_to 'Back', booking_details_path %>
