<div class="area_container">
<p id="notice"><%= notice %></p>
<div class="areasDiv">

<div class="list_view">
<h1>Areas</h1>

<div class="list_view">
<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @areas.each do |area| %>
      <tr>
        <td><%= area.name %></td>
        <td><%= area.capacity %></td>
        <td class="i_width"><%= image_tag area.image.url(:thumb) %></td>
        <td class="d_width"><%= area.description %></td>
        <td class="areasT"><%= link_to 'Show', area %></td>
        <% if can? :update, @area %>
          <td class="areasT"><%= link_to 'Edit', edit_area_path(area) %></td>
          <td class="areasT"><%= link_to 'Destroy', area, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Area', new_area_path %>
</div>
</div>
</div>
</div>
