<p id="notice"><%= notice %></p>
<h1 class="list_view">Areas</h1>
<div class="areasDiv">
<div class="list_view">

<div class="list_view">
<table>
  <thead>
    <tr class="show_view">
      <th>ROOM</th>
      <th>CAPACITY</th>
      <th></th>
      <th>DESCRIPTION</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @areas.each do |area| %>
      <tr>
        <td><%= area.name %></td>
        <td><%= area.capacity %></td>
        <td class="i_width"><%= image_tag area.image.url(:thumb) %></td>
        <td class="d_width"><%= area.description %></td>
        <td class="areasT"><%= link_to 'Info', area %></td>
        <% if can? :update, @area %>
          <td class="areasT"><%= link_to 'Edit', edit_area_path(area) %></td>
          <td class="areasT"><%= link_to 'Delete', area, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Area', new_area_path %>
</div>
</div>
</div>
