<p id="notice"><%= notice %></p>
<!--
<p>
  <strong>AREA:</strong>
  <%= @area.name %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @area.capacity %>
</p>
<!-- addd area description to db and html,css styling --
<p>
  <strong></strong>
  <%= @area.type %>
</p>

<p>
  <strong></strong>
  <%= image_tag @area.image.url(:medium) %>
</p>
<ul>
  <li class="navMenu_item_button"><a class="button book"> <%= link_to "BOOK NOW", new_booking_path %> </a></li>
<img />
</ul> -->




<div class="area_container">
  <ul class="area">
    <li class="area_item"> <strong class="roomtext"> <%= @area.name %></strong></li>
    <li class="area_item"> <strong>Capacity:</strong> <%= @area.capacity %> </li>
    <!-- add area description to db and html,css styling -->
    <div class="show_Button">
    <li class= "topNav" "area_item"> <%=link_to "CHECK CALENDAR" %></li>
    <li class= "topNav" "area_item"> <%= link_to "BOOK NOW", new_booking_path %></li>
  </div>
    <li class="area_item" > <strong></strong> <%= @area.type %> </li>
  </ul>
  <p class="image_item"> <strong></strong> <%= image_tag @area.image.url(:medium) %> </p>
</div>

<%= link_to 'Edit', edit_area_path(@area) %> |
<%= link_to 'Back', areas_path %>
