<!DOCTYPE html>
<html>
  <head>
    <title>HubBookingSystem</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div>
    <nav>
      <ul class = 'top-nav'>
        <li><img src='/HubLogo.png' height="120px"></li>
        <li><a class='flex-item' href="#">Login</a></li>
      </ul>

      </nav>

    <br>
    <nav class ='main-nav'>
      <ul>
        <li class='flex-item'><a>VIEW CALENDAR</a>
          <select>
            <ptgroup label="Rate">
              <option>Day</option>
              <option>Week</option>
              <option>Month</option>

          </select>
        </li>

        <li class='flex-item'> <a>AREA</a>
          <select>
            <ptgroup label="area">
              <option>Digital Jersey Hub</option>
              <option>Edison</option>
              <option>Breakout Zone</option>
              <option>Skills Zone</option>
              <option>Sandberg</option>
              <option>Jobs</option>
              <option>Gates</option>

          </select></li>
        <li class='flex-item'><a href="#">BOOK NOW </a></li>
      </ul>
    </nav>
  </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <nav>
      <ul class='sub-nav'>
        <li> <a href="#"> <img src="/Edison.jpg" width="50px" height="50px">
          Edison</a> </li>
        <li><a href="#"> <img src ="/BreakoutZone.jpg" width="50px" height="50px" > Breakout Zone</a> </li>
        <li><a href="#"> <img src ='/SkillZone.jpg' width="50px" height="50px"> Skills Zone</a></li>
        <li><a href="#"> <img src ='/Sandberg.jpg' width="50px" height="50px"> Sandberg</a></li>
        <li><a href="#"> <img src ='/Jobs.jpg' width="50px" height="50px"> Jobs</a></li>
        <li><a href="#"> <img src ='/Gates.jpg' width="50px" height="50px"> Gates</a></li>
      </ul>
  </nav>

    <footer>
      <ul><li>
      <p class = 'footer'>
         <a href='#'>About Us </a> <br><a href='#'>Contact Us </a> <br><a href='#'>Terms and Conditions </a> <br><a href='#'> Privacy Policy </a>
      </p>
      <p>Digital Jersey Hub, Block 3, The Forum, <br>Grenville Street, St Helier, <br>Jersey JE2 4UF.</p>
      <p>Phone: 01534 828 585 <br>Email:<a href='#'>info@digitalhub.je</a></p>
    </li></ul>
    </footer>

  </body>
</html>
