  <!DOCTYPE html>
<html>
  <head>
    <title>HubBookingSystem</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <%# testing phase only? %>
      <div>
        <% if user_signed_in? %>
          <div>Signed in as: <%= current_user.email %> <br> Role: <%= current_user.role %></div>
        <% end %>
      </div>

    <div class ="container" >
    <nav class = 'topNav'>
       <ul class='topNav_item'>
         <li><img src ='/HubLogo.png' width="50px" height="50px"></li>
           <!--<img src="<%= asset_path "Hub logo.png"%>" class="logo"alt="/HubLogo.png"/><a href="https://www.digitalhub.je"> --></a>

          <% if user_signed_in? %>
            <li>
              <%= link_to 'Edit Account', edit_user_registration_path %>
              <%= link_to 'Logout', destroy_user_session_path %>
            </li>
          <% else %>
            <li>
              <%= link_to 'Login', new_user_session_path  %>
            </li>
          <% end %>
      </ul>

      </nav>
    </div>

    <br>
    <div class = "navMenu">

      <ul>
        <li class='navMenu_item'><%= link_to "CALENDAR", root_path %>
        
          <!--
          <select>
            <ptgroup label="Rate">
              <option>Day</option>
              <option>Week</option>
              <option>Month</option>

          </select>


        

        <div class ="dropdown">
          <button class="dropbtn">Dropdown</button>
          <div class="dropdown-content">
            <a href="#">Day</a>
            <a href="#">Week</a>
            <a href="#">Month</a>
          </div>-->
      <li class='navMenu_item'> <%= link_to "AREA", areas_path %>

        <select name= "areas[area_id]">
          <% Area.all.each do |area|%>
          <option value="area.id %>"><%= link_to "#{area.name}", area_path(area) %></option>
          <% end %>
        </select>
          <!--<select>
            <ptgroup label="area">
              <option>Digital Jersey Hub</option>
              <option>Edison <a><%= link_to "Edison", area_path(4) %></a></option>
              <option>Breakout Zone</option>
              <option>Skills Zone</option>
              <option>Sandberg</option>
              <option>Jobs</option>
              <option>Gates</option>

          </select></li> -->
        <% if can? :manage, @area %>
        <%= link_to "ADD AREA", new_area_path %>
        <% end %>
        <% if can? :manage, @resource %>
        <%= link_to "ADD RESOURCE", new_resource_path %>
        <% end %>
        <% if can? :manage, @user %>
        <%= link_to "ADD USER", new_user_registration_path %>
        <% end %>
        <%= link_to "BOOK NOW", new_booking_path %>
      </ul>
    </nav>
  </div>
  </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

    <nav>
      <ul class='sub-nav'>
        <li><img src="/Edison.jpg"><%= link_to "Edison", area_path(4) %></li>
        <li><img src ="/BreakoutZone.jpg"> <%= link_to "Breakout Zone", area_path(2) %> </li>
        <li><img src ='/SkillZone.jpg'> <%= link_to "Skills Zone", area_path(3) %> </li>
        <li><img src ='/Sandberg.jpg'> <%= link_to "Sandberg", area_path(5) %></li>
        <li><img src ='/Jobs.jpg'> <%= link_to "Jobs", area_path(6) %></li>
        <li><img src ='/Gates.jpg'><%= link_to "Gates", area_path(7) %></li>
      </ul>
  </nav>
<div>
    <footer class="navFooter">
      <ul >
        <li class = 'footerItem'><a href='https://www.digitalhub.je/about-us/'>About Us </a> </li>
        <li class = 'footerItem'><a href='https://www.digitalhub.je/contact-us/'> Contact Us </a> </li>
        <li class = 'footerItem'><a href='https://www.digitalhub.je/terms-and-conditions/'>Terms and Conditions </a> </li>
        <li class = 'footerItem'><a href='https://www.digitalhub.je/privacy-policy/'> Privacy Policy</a></li>
      </ul>
      <ul>
        <li clsss= 'footerItem'> Digital Jersey Hub, Block 3, The Forum, <br>Grenville Street, St Helier, <br>Jersey JE2 4UF.</li>
      </ul>
      <ul>
        <li class ='footerItem'> Phone: 01534 828 585 </li>
        <li class ='footerItem'><a href="mailto:info@digitalhub.je"> Email :info@digitalhub.je</a></li>
      </ul>
    </footer>
  </div>

  </body>
</html>
